<hr>
<div class="row">
  <div class="col-md-4">
    <p>In reply to <em>"{{answer.question.query}}"</em></p>
  </div>
  <div class="col-md-8">
    <p>{{answer.response}}</p>
    <h5>- {{answer.author}}, {{moment-from-now answer.timestamp}}</h5>
  </div>
</div>

<button class="btn btn-danger" {{action 'delete' answer}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Answer</button>
