<hr>
<div class="text-center well well-sm well-question">
  <h3><strong>{{question.query}}</strong></h3>
  <h4>{{question.notes}}</h4>
  <!-- <h4>{{question.author}}, <small>{{moment-from-now question.timestamp}}</small></h4> -->
  <h5>{{byLine}}</h5>
</div>

<button class="btn btn-danger" {{action 'delete' question}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Question</button>

<h2 class="text-center">Replies</h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
