<div>
  {{new-question saveQuestion2="saveQuestion3"}}
</div>

{{#each model.questions as |question|}}
  {{question-tile question=question}}
  {{log 'each question' questions}}
{{/each}}
{{log 'questions' model.questions}}

<h2>Answers</h2>
{{#each model.answers as |answer|}}
  {{answer.response}}, {{answer.author}}, {{answer.timestamp}}
{{/each}}
{{log 'answers' model.answers}}

{{new-answer saveAnswer="saveAnswer"}}
